html, body {
    background-color: rgb(255, 255, 255);

    height: 100%;
    margin: 0;
}

.pre_linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: auto;
    background-color: black;

    padding: 5px;
}

.icon_ifsc,
.icon {
    height: 60px;
    width: auto;

    transition: transform .2s ease-in-out;
}

.icon_ifsc:hover{
    border: none;
    transform: scale(1.1);
    cursor: pointer;
}

.linha{
    height: 2px;
    width: auto;

    background-color: gray;
}

.topo{
    background-color: black;

    height: 50px;
    width: auto;

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

.guia{
    background-color: rgb(0,0,0,0);

    height: 30px;
    width: 16%;

    border: outset 5px gray;
    margin: auto;

    font-family: sans-serif;
    font-size: 15px;

    color: rgb(255, 255, 255);
}

.guia:hover{
    cursor: pointer;
}

.guia_selected{
    background-color: rgba(75, 75, 75, 0.981);

    height: 30px;
    width: 16%;

    border: none;
    margin: auto;

    font-family: sans-serif;
    font-size: 15px;

    color: rgb(255, 255, 255);
}

.guia:hover{
    background-color: rgba(75, 75, 75, 0.981);
}

/*################################################################################################## PAGINA 1*/
.head{
    height:max-content;
    width:500px;

    margin: 2.5% auto auto auto;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    transition: 0.3s ease-in-out;
}

.melitechLogo{
    max-height: 100%;
    width: 500px;
}

.div_texto_inicio{
    height: 200px;
    width: 500px;

    margin: 5% auto auto auto;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.foto{
    max-width: 100%;
    width: 500px;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    margin: auto;

    transition: .3s ease-in-out;
}

.texto_inicio{
    font-family: sans-serif;
    font-size: 30px;
    text-align: justify;

    padding-left: 40px;
    padding-right: 40px;
}

.titulo{
    height: 2%;
    width: 40%;

    margin: 2.5% auto auto auto;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    transition: border-color 0.3s ease;
}

.titulo:hover > .titulo_principal{
    font-size: 5.5vh;
}

/*################################################################################################## PAGINA 2*/

.div_titulo_sobre {
    height: 50px;
    width: 500px;
    margin: 4% auto auto auto;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    color: black;
    font-size: 5vh;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 50px; 

    transition: 0.3s ease-in-out;
}

.div_texto_sobre{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% auto 4% auto;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.div_texto_sobre_left{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% auto 4% 75px;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.div_texto_sobre_right{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% 75px 4%;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.texto_2{
    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    margin: auto;
}

.texto_sobre{
    width: 550px;
    margin: auto auto auto auto;

    padding-top: 20px;
    padding-bottom: 20px;

    color: black;
    font-size: 24px;
    text-align: justify;
    font-family: sans-serif;
}

.foto_right{
    margin: 4% 75px 4% auto;

    height: 350px;
    max-width: 100%;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.foto_left{
    margin: 4% auto 4% 75px;

    height: 350px;
    max-width: 100%;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.espasso_vazio{
    margin-top: 25px;
    height: 25px;
}

.fixed-image-left {
    height: 150px;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    transition: .3s ease-in-out;
}

.fixed-image-right{
    height: 200px;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;

    transition: .3s ease-in-out;
}

/*################################################################################## PAGINA 3*/

.background{
    background-color: rgb(63, 63, 63);
    margin: 50px auto auto auto;
    height: max-content;
    width: max-content;

    border-radius: 25px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;

    padding-bottom: 25px;
}

.gif{
    height: 300px;
    max-width: 100%;
    margin: 20px;

    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;

    transition: .3s ease-in-out;
}

.gif_holder{
    margin: 25px auto 50px auto;

    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .3s ease-in-out;
}

.texto_legenda{
    width: auto;
    margin: auto auto auto auto;

    color: black;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: .3s ease-in-out;
}

.gif_holder:hover{
    transform: scale(1.2);
}

.gif_holder:hover > .texto_legenda, .gif{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

.button_holder{
    
    height: max-content;
    width: auto;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goto_matter{
    width: 30%;
    background-color: gray;

    height: 100px;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;

    color: black;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;

    box-shadow: 0 10px 0 rgb(0, 0, 0);

    transition: .1s ease-in-out;
}

.goto_matter:hover{
    background-color: rgb(145, 145, 145);;
    transform: translateY(-5px);
    box-shadow: 0 15px 0 rgb(58, 58, 58);
    border-color: rgb(58, 58, 58);
}

.goto_matter:active{
    transform: translateY(10px);
    box-shadow: 0 0 0 rgb(124, 15, 0);
}

.div_left_sem_borda{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% auto 4% 75px;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    transition: 0.3s ease-in-out;
    border: none;
    border-radius: 25px;
}

.div_right_sem_borda{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% 75px 4%;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    transition: 0.3s ease-in-out;
    border: none;
    border-radius: 25px;
}

.foto_right_sem_borda{
    margin: 4% 75px 4% 50px;

    width: 350px;
    max-height: 100%;

    border-radius: 25px;

    transition: 0.3s ease-in-out;
}

.foto_left_sem_borda{
    margin: 4% 50px 4% 75px;

    width: 350px;
    max-height: 100%;

    border-radius: 25px;

    transition: 0.3s ease-in-out;
}

.div_texto_sobre_sem_borda{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: 4% auto 4% auto;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    border-radius: 25px;

    transition: 0.3s ease-in-out;
}

/*################################################################################## PAGINA 4*/

.perfil{
    height: 150px;
    width: 1000px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .3s ease-in-out;
}

.perfil:hover{
    transform:  scale(1.2);
}

.perfil:hover > .foto_participante, .div_texto_participante{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

.foto_participante{
    margin: auto auto auto auto;

    height: 120px;
    max-width: 100%;

    border-radius: 60px;

    transition: 0.3s ease-in-out;
}

.div_texto_participante{
    background-color: white;

    height: max-content;
    width: 600px;

    margin: auto;

    display: flex; /* Torna o elemento um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

/*########################################################################################## HOVERS */

.div_texto_sobre_sem_borda:hover,
.foto_right_sem_borda:hover,
.foto_left_sem_borda:hover,
.div_left_sem_borda:hover,
.div_right_sem_borda:hover,
.foto:hover,
.div_titulo_sobre:hover,
.titulo:hover,
.head:hover,
.div_texto_inicio:hover,
.foto_right:hover,
.foto_left:hover,
.div_texto_sobre:hover,
.div_texto_sobre_right:hover,
.div_texto_sobre_left:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

.fixed-image-right:hover,
.fixed-image-left:hover {
    transform: scale(1.2);
}




